/* large  */
@media only screen and (max-width: 992px) {
  .carousel-caption p {
    display: none;
  }
  
  .company_section {
    display: none;
  }
}

/* small  */
@media only screen and (max-width: 768px) {
  #reg_btn_col {
    justify-content: center !important;
    margin-top: 20px;
  }

  #slider_title {
    font-size: 20px !important;
  }
}
