/* custom properties */
:root {
  --theme-primary-color: #289bde;
  --theme-secondary-color: #f4fafd;
}

/* global css */
* {
  font-family: "Poppins", sans-serif;
}

/* overlay */
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* navbar css */
.navbar-brand {
  color: #4a4a4a !important;
}

.nav_reg_btn {
  border: 1px solid var(--theme-primary-color) !important;
  color: var(--theme-primary-color) !important;
}
.nav_reg_btn:hover {
  border: 1px solid #fff !important;
  color: #fff !important;
  background-color: var(--theme-primary-color) !important;
}

/* slider css */
.carousel {
  z-index: 10000 !important;
}

.carousel-item {
  position: relative !important;
}

.carousel-caption {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 1000 !important;
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.slider_btn {
  background-color: var(--theme-primary-color) !important;
}
.slider_btn:hover {
  background-color: #fff !important;
  border: 1px solid var(--theme-primary-color);
  color: var(--theme-primary-color) !important;
}

.carousel-control-prev,
.carousel-control-prev {
  z-index: 100;
}

/* course section css */
.course_price {
  color: var(--theme-primary-color);
}

.more_course_btn {
  background-color: var(--theme-primary-color) !important;
}

/* explore section css */
.explore_card_row {
  background-color: var(--theme-secondary-color);
}

/* join section css */
.join_row {
  background-color: var(--theme-primary-color);
}

.reg_now_btn {
  color: var(--theme-primary-color) !important;
}

/* faq section css */
.accordion-button:not(.collapsed) {
  background-color: var(--theme-secondary-color) !important;
  color: #4a4a4a !important;
}

/* footer css */
.social_icon {
  list-style: none;
}
